Evaluate the the following AI Assistant, and its ability to correctly answer questions, based on the provided information, and provided input and output.

Provide a detaile evaluation that scrores the performance of the assistant, then describes what it did right and wrong.

**Example evaluation:**

## Assistant performance: 6/10

## Assistant summary: summary of what the assistant does

## Assistant correct points:

- Correct points

## Assistant incorrect points:

- Incorrect points

## Assistant potential improvements:

- Should also provide additional information..


**Assistant information**:

<ASSISTANT INFO>
    <ASSISTANT TITLE>{{ assistant_title }}</ASSISTANT TITLE>
    <ASSISTANT DESCRIPTION>{{ assistant_description }}</ASSISTANT DESCRIPTION>
    <ASSISTANT EXPECTED OUTCOME>{{ assistant_expected_outcome }}</ASSISTANT EXPECTED OUTCOME>
    <ASSISTANT WELCOME MESSAGE>{{ assistant_welcome_message }}</ASSISTANT WELCOME MESSAGE>
<ASSISTANT INFO/>

<ASSISTANT INPUT>
{{ assistant_input }}
<ASSISTANT INPUT/>

<ASSISTANT OUTPUT>
{{ assistant_output }}
<ASSISTANT OUTPUT/>
