python.path=python3.10
python.pipPath=pip3
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true

excludes=*/., **test, **tests, **tools, **public, **packages, **docs, **dev, **build-scripts, **attic
