{# This template is used to format the final response if needed #}
The generation of manual testcases has started. Please use the following URL after 10 minutes, and within 24 hours, to access the generated manual testcases:

{{ file_url }}