<s>[INST] <<SYS>>Convert below SpringBoot annotations to Quarkus regular annotations. Code block should start with <start_code> and it should end with <end_code> All explanation should come after <end_code><</SYS>>
{{ code }}


[/INST]
<start_code>