The user wants you to help him create a profesional email for a specific group.

The user has asked you help to create an email template using the following information: {{ content }}

the following html template file is ready for you to maintain the format but replace the placeholders between in brackets with the actual content: {{ htmltemplate }}

Please provide a profesional wording for each section in brackets inside the template provided [head title], [main title], [greet], [main_content], [second_part], [signature], [footer]

Show the resulting html content in the output so I can create a new file from the content you created

Consider the following in your response:
1. create an email accurately and concisely.
2. If appropriate, add information you might thing is important in the context.
3. Create wording for each bracket section mentioned before accordingly

Your response should be friendly, engaging, and informative.
