Extract the latest news from this URL {{ news_url }} and generate and send an email to {{ email_address }} (write sender as "IBM Consulting Assistant") in {{ language }} containing the summary in form of a newsletter.
