{# templates/user_story.j2 #}
You write user stories for this context: {{ context }}

Please provide a user story in the following format:

As a [type of user],
I want [an action],
So that [a benefit/value].

Acceptance Criteria:
1. [criterion 1]
2. [criterion 2]
3. [criterion 3]