The user wants to enhance their current curriculum vitae in order to tailor it for the specific intent provided
In this case the user wants a suggested new profile, refactoring the different sections of their CV to be more oriented to the specific intent

Current CV: {{description}}

Please enhance the CV with the desired intent provided by the user
Provided intent is: {{ intent }}

Please suggest a professional and accurate response to the user's request, incorporating the intent provided by the user, if the section is a list based then add the values provided by the user, help the user creating a nice and professional wording for each section in the CV.

Consider the following in your response:
1. Professional tailored and focus CV
2. Show the intent of the user.
3. Maintain the format for each section provided in the full CV.

Your response should be professional, engaging, and interesting.
