The user wants to enhance their current curriculum vitae in order to add something specific based on the intent, or just to make it look better
Current CV profile section to enhance is: {{ section }}

Current section value in the CV is: {{description}}

Please enhance the specified section with the desired intent provided by the user
Provided intent is: {{ intent }}

Please suggest a professional and accurate response to the user's request, incorporating the intent provided by the user, if the section is a list based then add the values provided by the user, if the section is more text based then help the user creating a nice and professional wording for the section.

Consider the following in your response:
1. Professional
2. Show the intent of the user.
3. Maintain the format from the section provided.

Your response should be professional, engaging, and interesting.
